@use "../abstracts/tokens" as token;
@use "../abstracts/mixins" as mix;
@use "../abstracts/functions" as fn;

.hero {
  position: relative;
  scroll-margin-top: 73px;

  &__image-bg {
    position: absolute;
    z-index: fn.z(back); // -1
    background: url("../../../assets/svg/bg-intro-desktop.svg") no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100%;
    top: 0;
    right: -45%;

    @include mix.respond(md) { top: -42%; right: 0; }
    @include mix.respond(sm) { background-image: url("../../../assets/svg/bg-intro-mobile.svg"); top: -27%; } 
  }

  &__mockups {
    position: absolute;
    z-index: fn.z(base); // 
    top: -30%;
    right: -20%;

    @include mix.respond(xl) { right: -40%; }
    @include mix.respond(md-2) { right: -50%; }
    @include mix.respond(md) { width: 434px; top: 15%; left: 50%; transform: translate(-50%, -50%); }
    @include mix.respond(xxs) { width: 370px;}
  }

  &__container {
    position: relative;
    z-index: fn.z(base); // 0
    min-height: calc(100vh - 73px);
    min-height: calc(100dvh - 73px);
    display: grid;
    grid-template-columns: 1fr 1fr;

    @include mix.respond(md) { grid-template-columns: 1fr; padding-bottom: token.$gutter; }
  }

  .hero__content {
    @include mix.respond(md) { gap: calc(token.$gutter / 2); align-items: center; text-align: center; justify-content: end; }
  }
} 
