*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}
*:focus-visible {
  outline: 2px solid hsl(136, 64%, 51%);
  outline-offset: 2px;
}
*:focus:not(:focus-visible) {
  outline: none;
}

html {
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
          text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  min-height: 100dvh;
  overflow-x: hidden;
}

@font-face {
  font-family: "Clash Display";
  src: url("../assets/fonts/ClashDisplay-Variable.ttf") format("truetype");
  font-display: swap;
}
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Public Sans", system-ui, -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  font-size: clamp(0.875rem, 0.75rem + 0.6vw, 1rem);
  font-weight: 400;
  line-height: 1.5;
  color: hsl(233, 8%, 62%);
}

h1, h2, h3 {
  font-weight: 300;
  line-height: 1;
  color: hsl(233, 26%, 24%);
}

h1 {
  font-size: clamp(2.5rem, 1.9rem + 3.2vw, 3.051rem);
}

h2 {
  font-size: clamp(1.953rem, 1.45rem + 2.5vw, 2.441rem);
}

h3 {
  font-size: clamp(1.125rem, 0.95rem + 0.85vw, 1.25rem);
}

.articles a {
  font-size: 1.125rem;
  color: hsl(233, 26%, 24%);
  line-height: 1;
  text-decoration: none;
}
.articles p.from-article {
  font-size: clamp(0.75rem, 0.65rem + 0.5vw, 0.8rem);
  line-height: 1;
}
.articles p.from-article.is-author {
  font-weight: 600;
}

.footer {
  color: hsl(220, 16%, 96%);
}
.footer .footer__ul-link {
  text-decoration: none;
}
.footer .copy {
  color: hsl(233, 8%, 62%);
  line-height: 1;
}

.footer__signature {
  font-family: "Clash Display", sans-serif;
  font-size: clamp(0.75rem, 0.65rem + 0.5vw, 0.8rem);
  letter-spacing: 0.15em;
  color: hsl(233, 8%, 62%);
  text-transform: uppercase;
}
.footer__signature-link {
  font-weight: 800;
  letter-spacing: 0;
  text-decoration: none;
}
.footer__signature-link .lucas {
  color: hsl(220, 16%, 96%);
}
.footer__signature-link .couto {
  color: #00aaff;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  height: auto;
}

button, input, textarea, select, a {
  font: inherit;
  color: inherit;
}

ul, ol {
  list-style: none;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.hero__description, .about__description {
  max-width: 42ch;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  border: 0;
}

.block {
  display: block;
}

.hidden {
  display: none !important;
}

@media (max-width: 1199.98px) {
  .hide-xxl-down {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .hide-xxl-up {
    display: none !important;
  }
}

@media (max-width: 1023.98px) {
  .hide-xl-down {
    display: none !important;
  }
}

@media (min-width: 1024px) {
  .hide-xl-up {
    display: none !important;
  }
}

@media (max-width: 991.98px) {
  .hide-lg-down {
    display: none !important;
  }
}

@media (min-width: 992px) {
  .hide-lg-up {
    display: none !important;
  }
}

@media (max-width: 879.98px) {
  .hide-md-2-down {
    display: none !important;
  }
}

@media (min-width: 880px) {
  .hide-md-2-up {
    display: none !important;
  }
}

@media (max-width: 767.98px) {
  .hide-md-down {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .hide-md-up {
    display: none !important;
  }
}

@media (max-width: 575.98px) {
  .hide-sm-down {
    display: none !important;
  }
}

@media (min-width: 576px) {
  .hide-sm-up {
    display: none !important;
  }
}

@media (max-width: 479.98px) {
  .hide-xs-down {
    display: none !important;
  }
}

@media (min-width: 480px) {
  .hide-xs-up {
    display: none !important;
  }
}

@media (max-width: 379.98px) {
  .hide-xxs-down {
    display: none !important;
  }
}

@media (min-width: 380px) {
  .hide-xxs-up {
    display: none !important;
  }
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.sticky {
  position: sticky;
}

.no-select {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.pointer {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.truncate-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 1.5rem;
}

.container-sm {
  width: 100%;
  max-width: 640px;
  margin-inline: auto;
  padding-inline: 1.5rem;
}

.container-md {
  width: 100%;
  max-width: 768px;
  margin-inline: auto;
  padding-inline: 1.5rem;
}

.container-lg {
  width: 100%;
  max-width: 1024px;
  margin-inline: auto;
  padding-inline: 1.5rem;
}

.container-xl {
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 1.5rem;
}

.container-xxl {
  width: 100%;
  max-width: 1280px;
  margin-inline: auto;
  padding-inline: 1.5rem;
}

.flex {
  display: flex;
  gap: 1.5rem;
}
.flex.flex-col {
  flex-direction: column;
}
.flex.flex-wrap {
  flex-wrap: wrap;
}
.flex.justify-start {
  justify-content: flex-start;
}
.flex.justify-between {
  justify-content: space-between;
}
.flex.justify-around {
  justify-content: space-around;
}
.flex.justify-evenly {
  justify-content: space-evenly;
}
.flex.justify-center {
  justify-content: center;
}
.flex.justify-end {
  justify-content: flex-end;
}
.flex.items-stretch {
  align-items: stretch;
}
.flex.items-center {
  align-items: center;
}
.flex.items-start {
  align-items: flex-start;
}
.flex.items-end {
  align-items: flex-end;
}
.flex.items-baseline {
  align-items: baseline;
}

.grid-auto {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 224px), 1fr));
  gap: 1.5rem;
}

.grid-1 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.5rem;
}

.col-span-1 {
  grid-column: span 1;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.col-span-2 {
  grid-column: span 2;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.col-span-3 {
  grid-column: span 3;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}

.col-span-4 {
  grid-column: span 4;
}

.grid-5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.5rem;
}

.col-span-5 {
  grid-column: span 5;
}

.grid-6 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1.5rem;
}

.col-span-6 {
  grid-column: span 6;
}

.grid-7 {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1.5rem;
}

.col-span-7 {
  grid-column: span 7;
}

.grid-8 {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 1.5rem;
}

.col-span-8 {
  grid-column: span 8;
}

.grid-9 {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 1.5rem;
}

.col-span-9 {
  grid-column: span 9;
}

.grid-10 {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 1.5rem;
}

.col-span-10 {
  grid-column: span 10;
}

.grid-11 {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  gap: 1.5rem;
}

.col-span-11 {
  grid-column: span 11;
}

.grid-12 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1.5rem;
}

.col-span-12 {
  grid-column: span 12;
}

@media (max-width: 1199.98px) {
  .grid-1-xxl {
    grid-template-columns: repeat(1, 1fr);
  }
  .col-span-1-xxl {
    grid-column: span 1;
  }
  .grid-2-xxl {
    grid-template-columns: repeat(2, 1fr);
  }
  .col-span-2-xxl {
    grid-column: span 2;
  }
  .grid-3-xxl {
    grid-template-columns: repeat(3, 1fr);
  }
  .col-span-3-xxl {
    grid-column: span 3;
  }
  .grid-4-xxl {
    grid-template-columns: repeat(4, 1fr);
  }
  .col-span-4-xxl {
    grid-column: span 4;
  }
  .grid-5-xxl {
    grid-template-columns: repeat(5, 1fr);
  }
  .col-span-5-xxl {
    grid-column: span 5;
  }
  .grid-6-xxl {
    grid-template-columns: repeat(6, 1fr);
  }
  .col-span-6-xxl {
    grid-column: span 6;
  }
  .grid-7-xxl {
    grid-template-columns: repeat(7, 1fr);
  }
  .col-span-7-xxl {
    grid-column: span 7;
  }
  .grid-8-xxl {
    grid-template-columns: repeat(8, 1fr);
  }
  .col-span-8-xxl {
    grid-column: span 8;
  }
  .grid-9-xxl {
    grid-template-columns: repeat(9, 1fr);
  }
  .col-span-9-xxl {
    grid-column: span 9;
  }
  .grid-10-xxl {
    grid-template-columns: repeat(10, 1fr);
  }
  .col-span-10-xxl {
    grid-column: span 10;
  }
  .grid-11-xxl {
    grid-template-columns: repeat(11, 1fr);
  }
  .col-span-11-xxl {
    grid-column: span 11;
  }
  .grid-12-xxl {
    grid-template-columns: repeat(12, 1fr);
  }
  .col-span-12-xxl {
    grid-column: span 12;
  }
}
@media (max-width: 1023.98px) {
  .grid-1-xl {
    grid-template-columns: repeat(1, 1fr);
  }
  .col-span-1-xl {
    grid-column: span 1;
  }
  .grid-2-xl {
    grid-template-columns: repeat(2, 1fr);
  }
  .col-span-2-xl {
    grid-column: span 2;
  }
  .grid-3-xl {
    grid-template-columns: repeat(3, 1fr);
  }
  .col-span-3-xl {
    grid-column: span 3;
  }
  .grid-4-xl {
    grid-template-columns: repeat(4, 1fr);
  }
  .col-span-4-xl {
    grid-column: span 4;
  }
  .grid-5-xl {
    grid-template-columns: repeat(5, 1fr);
  }
  .col-span-5-xl {
    grid-column: span 5;
  }
  .grid-6-xl {
    grid-template-columns: repeat(6, 1fr);
  }
  .col-span-6-xl {
    grid-column: span 6;
  }
  .grid-7-xl {
    grid-template-columns: repeat(7, 1fr);
  }
  .col-span-7-xl {
    grid-column: span 7;
  }
  .grid-8-xl {
    grid-template-columns: repeat(8, 1fr);
  }
  .col-span-8-xl {
    grid-column: span 8;
  }
  .grid-9-xl {
    grid-template-columns: repeat(9, 1fr);
  }
  .col-span-9-xl {
    grid-column: span 9;
  }
  .grid-10-xl {
    grid-template-columns: repeat(10, 1fr);
  }
  .col-span-10-xl {
    grid-column: span 10;
  }
  .grid-11-xl {
    grid-template-columns: repeat(11, 1fr);
  }
  .col-span-11-xl {
    grid-column: span 11;
  }
  .grid-12-xl {
    grid-template-columns: repeat(12, 1fr);
  }
  .col-span-12-xl {
    grid-column: span 12;
  }
}
@media (max-width: 991.98px) {
  .grid-1-lg {
    grid-template-columns: repeat(1, 1fr);
  }
  .col-span-1-lg {
    grid-column: span 1;
  }
  .grid-2-lg {
    grid-template-columns: repeat(2, 1fr);
  }
  .col-span-2-lg {
    grid-column: span 2;
  }
  .grid-3-lg {
    grid-template-columns: repeat(3, 1fr);
  }
  .col-span-3-lg {
    grid-column: span 3;
  }
  .grid-4-lg {
    grid-template-columns: repeat(4, 1fr);
  }
  .col-span-4-lg {
    grid-column: span 4;
  }
  .grid-5-lg {
    grid-template-columns: repeat(5, 1fr);
  }
  .col-span-5-lg {
    grid-column: span 5;
  }
  .grid-6-lg {
    grid-template-columns: repeat(6, 1fr);
  }
  .col-span-6-lg {
    grid-column: span 6;
  }
  .grid-7-lg {
    grid-template-columns: repeat(7, 1fr);
  }
  .col-span-7-lg {
    grid-column: span 7;
  }
  .grid-8-lg {
    grid-template-columns: repeat(8, 1fr);
  }
  .col-span-8-lg {
    grid-column: span 8;
  }
  .grid-9-lg {
    grid-template-columns: repeat(9, 1fr);
  }
  .col-span-9-lg {
    grid-column: span 9;
  }
  .grid-10-lg {
    grid-template-columns: repeat(10, 1fr);
  }
  .col-span-10-lg {
    grid-column: span 10;
  }
  .grid-11-lg {
    grid-template-columns: repeat(11, 1fr);
  }
  .col-span-11-lg {
    grid-column: span 11;
  }
  .grid-12-lg {
    grid-template-columns: repeat(12, 1fr);
  }
  .col-span-12-lg {
    grid-column: span 12;
  }
}
@media (max-width: 879.98px) {
  .grid-1-md-2 {
    grid-template-columns: repeat(1, 1fr);
  }
  .col-span-1-md-2 {
    grid-column: span 1;
  }
  .grid-2-md-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .col-span-2-md-2 {
    grid-column: span 2;
  }
  .grid-3-md-2 {
    grid-template-columns: repeat(3, 1fr);
  }
  .col-span-3-md-2 {
    grid-column: span 3;
  }
  .grid-4-md-2 {
    grid-template-columns: repeat(4, 1fr);
  }
  .col-span-4-md-2 {
    grid-column: span 4;
  }
  .grid-5-md-2 {
    grid-template-columns: repeat(5, 1fr);
  }
  .col-span-5-md-2 {
    grid-column: span 5;
  }
  .grid-6-md-2 {
    grid-template-columns: repeat(6, 1fr);
  }
  .col-span-6-md-2 {
    grid-column: span 6;
  }
  .grid-7-md-2 {
    grid-template-columns: repeat(7, 1fr);
  }
  .col-span-7-md-2 {
    grid-column: span 7;
  }
  .grid-8-md-2 {
    grid-template-columns: repeat(8, 1fr);
  }
  .col-span-8-md-2 {
    grid-column: span 8;
  }
  .grid-9-md-2 {
    grid-template-columns: repeat(9, 1fr);
  }
  .col-span-9-md-2 {
    grid-column: span 9;
  }
  .grid-10-md-2 {
    grid-template-columns: repeat(10, 1fr);
  }
  .col-span-10-md-2 {
    grid-column: span 10;
  }
  .grid-11-md-2 {
    grid-template-columns: repeat(11, 1fr);
  }
  .col-span-11-md-2 {
    grid-column: span 11;
  }
  .grid-12-md-2 {
    grid-template-columns: repeat(12, 1fr);
  }
  .col-span-12-md-2 {
    grid-column: span 12;
  }
}
@media (max-width: 767.98px) {
  .grid-1-md {
    grid-template-columns: repeat(1, 1fr);
  }
  .col-span-1-md {
    grid-column: span 1;
  }
  .grid-2-md {
    grid-template-columns: repeat(2, 1fr);
  }
  .col-span-2-md {
    grid-column: span 2;
  }
  .grid-3-md {
    grid-template-columns: repeat(3, 1fr);
  }
  .col-span-3-md {
    grid-column: span 3;
  }
  .grid-4-md {
    grid-template-columns: repeat(4, 1fr);
  }
  .col-span-4-md {
    grid-column: span 4;
  }
  .grid-5-md {
    grid-template-columns: repeat(5, 1fr);
  }
  .col-span-5-md {
    grid-column: span 5;
  }
  .grid-6-md {
    grid-template-columns: repeat(6, 1fr);
  }
  .col-span-6-md {
    grid-column: span 6;
  }
  .grid-7-md {
    grid-template-columns: repeat(7, 1fr);
  }
  .col-span-7-md {
    grid-column: span 7;
  }
  .grid-8-md {
    grid-template-columns: repeat(8, 1fr);
  }
  .col-span-8-md {
    grid-column: span 8;
  }
  .grid-9-md {
    grid-template-columns: repeat(9, 1fr);
  }
  .col-span-9-md {
    grid-column: span 9;
  }
  .grid-10-md {
    grid-template-columns: repeat(10, 1fr);
  }
  .col-span-10-md {
    grid-column: span 10;
  }
  .grid-11-md {
    grid-template-columns: repeat(11, 1fr);
  }
  .col-span-11-md {
    grid-column: span 11;
  }
  .grid-12-md {
    grid-template-columns: repeat(12, 1fr);
  }
  .col-span-12-md {
    grid-column: span 12;
  }
}
@media (max-width: 575.98px) {
  .grid-1-sm {
    grid-template-columns: repeat(1, 1fr);
  }
  .col-span-1-sm {
    grid-column: span 1;
  }
  .grid-2-sm {
    grid-template-columns: repeat(2, 1fr);
  }
  .col-span-2-sm {
    grid-column: span 2;
  }
  .grid-3-sm {
    grid-template-columns: repeat(3, 1fr);
  }
  .col-span-3-sm {
    grid-column: span 3;
  }
  .grid-4-sm {
    grid-template-columns: repeat(4, 1fr);
  }
  .col-span-4-sm {
    grid-column: span 4;
  }
  .grid-5-sm {
    grid-template-columns: repeat(5, 1fr);
  }
  .col-span-5-sm {
    grid-column: span 5;
  }
  .grid-6-sm {
    grid-template-columns: repeat(6, 1fr);
  }
  .col-span-6-sm {
    grid-column: span 6;
  }
  .grid-7-sm {
    grid-template-columns: repeat(7, 1fr);
  }
  .col-span-7-sm {
    grid-column: span 7;
  }
  .grid-8-sm {
    grid-template-columns: repeat(8, 1fr);
  }
  .col-span-8-sm {
    grid-column: span 8;
  }
  .grid-9-sm {
    grid-template-columns: repeat(9, 1fr);
  }
  .col-span-9-sm {
    grid-column: span 9;
  }
  .grid-10-sm {
    grid-template-columns: repeat(10, 1fr);
  }
  .col-span-10-sm {
    grid-column: span 10;
  }
  .grid-11-sm {
    grid-template-columns: repeat(11, 1fr);
  }
  .col-span-11-sm {
    grid-column: span 11;
  }
  .grid-12-sm {
    grid-template-columns: repeat(12, 1fr);
  }
  .col-span-12-sm {
    grid-column: span 12;
  }
}
@media (max-width: 479.98px) {
  .grid-1-xs {
    grid-template-columns: repeat(1, 1fr);
  }
  .col-span-1-xs {
    grid-column: span 1;
  }
  .grid-2-xs {
    grid-template-columns: repeat(2, 1fr);
  }
  .col-span-2-xs {
    grid-column: span 2;
  }
  .grid-3-xs {
    grid-template-columns: repeat(3, 1fr);
  }
  .col-span-3-xs {
    grid-column: span 3;
  }
  .grid-4-xs {
    grid-template-columns: repeat(4, 1fr);
  }
  .col-span-4-xs {
    grid-column: span 4;
  }
  .grid-5-xs {
    grid-template-columns: repeat(5, 1fr);
  }
  .col-span-5-xs {
    grid-column: span 5;
  }
  .grid-6-xs {
    grid-template-columns: repeat(6, 1fr);
  }
  .col-span-6-xs {
    grid-column: span 6;
  }
  .grid-7-xs {
    grid-template-columns: repeat(7, 1fr);
  }
  .col-span-7-xs {
    grid-column: span 7;
  }
  .grid-8-xs {
    grid-template-columns: repeat(8, 1fr);
  }
  .col-span-8-xs {
    grid-column: span 8;
  }
  .grid-9-xs {
    grid-template-columns: repeat(9, 1fr);
  }
  .col-span-9-xs {
    grid-column: span 9;
  }
  .grid-10-xs {
    grid-template-columns: repeat(10, 1fr);
  }
  .col-span-10-xs {
    grid-column: span 10;
  }
  .grid-11-xs {
    grid-template-columns: repeat(11, 1fr);
  }
  .col-span-11-xs {
    grid-column: span 11;
  }
  .grid-12-xs {
    grid-template-columns: repeat(12, 1fr);
  }
  .col-span-12-xs {
    grid-column: span 12;
  }
}
@media (max-width: 379.98px) {
  .grid-1-xxs {
    grid-template-columns: repeat(1, 1fr);
  }
  .col-span-1-xxs {
    grid-column: span 1;
  }
  .grid-2-xxs {
    grid-template-columns: repeat(2, 1fr);
  }
  .col-span-2-xxs {
    grid-column: span 2;
  }
  .grid-3-xxs {
    grid-template-columns: repeat(3, 1fr);
  }
  .col-span-3-xxs {
    grid-column: span 3;
  }
  .grid-4-xxs {
    grid-template-columns: repeat(4, 1fr);
  }
  .col-span-4-xxs {
    grid-column: span 4;
  }
  .grid-5-xxs {
    grid-template-columns: repeat(5, 1fr);
  }
  .col-span-5-xxs {
    grid-column: span 5;
  }
  .grid-6-xxs {
    grid-template-columns: repeat(6, 1fr);
  }
  .col-span-6-xxs {
    grid-column: span 6;
  }
  .grid-7-xxs {
    grid-template-columns: repeat(7, 1fr);
  }
  .col-span-7-xxs {
    grid-column: span 7;
  }
  .grid-8-xxs {
    grid-template-columns: repeat(8, 1fr);
  }
  .col-span-8-xxs {
    grid-column: span 8;
  }
  .grid-9-xxs {
    grid-template-columns: repeat(9, 1fr);
  }
  .col-span-9-xxs {
    grid-column: span 9;
  }
  .grid-10-xxs {
    grid-template-columns: repeat(10, 1fr);
  }
  .col-span-10-xxs {
    grid-column: span 10;
  }
  .grid-11-xxs {
    grid-template-columns: repeat(11, 1fr);
  }
  .col-span-11-xxs {
    grid-column: span 11;
  }
  .grid-12-xxs {
    grid-template-columns: repeat(12, 1fr);
  }
  .col-span-12-xxs {
    grid-column: span 12;
  }
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.125rem;
  padding: 0;
  font-weight: 700;
  line-height: 1;
  text-decoration: none;
  white-space: nowrap;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  background: linear-gradient(200deg, hsl(136, 64%, 51%), hsl(136, 64%, 51%), hsl(192, 69%, 51%));
  color: hsl(0, 100%, 100%);
  border: transparent;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1), filter 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}
.button.is-primary:hover, .button.is-primary:focus-visible {
  box-shadow: 0 0 15px rgba(50.082, 210.018, 92.7316, 0.6);
  opacity: 0.8;
}
.button.size-sm {
  padding: 0.5rem 1rem;
}
.button.size-md {
  padding: 0.625rem 1.25rem;
}
.button.size-lg {
  padding: 0.75rem 1.5rem;
}
.button.size-xl {
  padding: 1rem 2rem;
}
.button.shape-square {
  aspect-ratio: 1/1;
}
.button.shape-circle {
  aspect-ratio: 1/1;
  border-radius: 9999px;
}
.button.is-pill {
  border-radius: 9999px;
}
.button.is-ghost {
  text-decoration: underline;
  border: none;
}

.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.125rem;
  padding: 0.375rem 0.75rem;
  background-color: transparent;
  border: 1px solid currentColor;
  border-radius: 9999px;
  font-size: clamp(0.75rem, 0.65rem + 0.5vw, 0.8rem);
  line-height: 1;
  white-space: nowrap;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  vertical-align: middle;
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: none;
  max-width: none;
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.card.is-article {
  position: relative;
  cursor: pointer;
}
.card.is-article a {
  transition: color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.card.is-article a::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
}
@media (hover: hover) {
  .card.is-article:hover {
    transform: translateY(-3px);
  }
  .card.is-article:hover a {
    color: hsl(136, 64%, 51%);
  }
}
.card.is-article:focus-visible, .card.is-article:focus-within {
  transform: translateY(-3px);
}
.card.is-article:active {
  transform: translateY(-1px);
}
.card.is-article .card__image {
  width: 100%;
  height: 180px;
}
.card .card__content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem;
}
.card .card__content.is-center {
  align-items: center;
  text-align: center;
}
.card .card__content.is-start {
  align-items: flex-start;
  text-align: start;
}
.card .card__content.is-end {
  align-items: flex-end;
  text-align: end;
}
.card .card__content.is-article {
  gap: 0.75rem;
}

body:has(#menu-toggle:checked) {
  overflow: hidden;
}

header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(12px);
  border-bottom: 1px solid hsl(220, 16%, 96%);
}
@media (max-width: 767.98px) {
  header {
    padding-block: 1.5rem;
  }
}
header ul {
  display: flex;
  gap: calc(8px + 1.5rem);
}
header ul li {
  position: relative;
  padding-block: 1.5rem;
}
header ul li a {
  padding-block: 1.5rem;
  text-decoration: none;
}
header ul li::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 5px;
  background: linear-gradient(200deg, hsl(136, 64%, 51%), hsl(136, 64%, 51%), hsl(192, 69%, 51%));
  opacity: 0;
  transition: background 0.2s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
@media (max-width: 767.98px) {
  header ul li::after {
    display: none;
  }
}
header ul li:hover, header ul li:focus-within {
  color: hsl(233, 8%, 12.4%);
}
header ul li:hover::after, header ul li:focus-within::after {
  opacity: 1;
}
@media (max-width: 767.98px) {
  header ul {
    display: flex;
    position: absolute;
    top: calc(100% + 1.5rem);
    left: 50%;
    width: 90%;
    z-index: 200;
    flex-direction: column;
    gap: 0;
    padding-block: calc(1.5rem - 16px);
    font-size: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08), 0 2px 8px rgba(0, 0, 0, 0.04);
    background-color: hsl(0, 100%, 100%);
    visibility: hidden;
    opacity: 0;
    transform: translate(-50%, -20px);
    transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }
  header ul li {
    width: 100%;
    padding-block: 0;
  }
  header ul li a {
    display: block;
    padding: calc(1.5rem - 12px);
    width: 100%;
    text-align: center;
  }
}
header .menu-overlay {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 0;
  background-color: rgba(45, 49, 77, 0.6);
  z-index: 200 -1;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.3s cubic-bezier(0.4, 0, 0.2, 1), height 0s 0.3s;
}
header #menu-toggle:focus-visible ~ .open-menu-toggle, header #menu-toggle:focus-visible ~ .close-menu-toggle {
  outline: 2px solid hsl(136, 64%, 51%);
  outline-offset: 2px;
}
@media (max-width: 767.98px) {
  header .close-menu-toggle {
    display: none;
  }
  header #menu-toggle:checked ~ .open-menu-toggle {
    display: none;
  }
  header #menu-toggle:checked ~ .close-menu-toggle {
    display: block;
  }
  header #menu-toggle:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
    height: 100vh;
    height: 100dvh;
    transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.3s cubic-bezier(0.4, 0, 0.2, 1), height 0s;
  }
  header #menu-toggle:checked ~ ul {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 0);
  }
}

.hero {
  position: relative;
  scroll-margin-top: 73px;
}
.hero__image-bg {
  position: absolute;
  z-index: -1;
  background: url("../assets/svg/bg-intro-desktop.svg") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100%;
  top: 0;
  right: -45%;
}
@media (max-width: 767.98px) {
  .hero__image-bg {
    top: -42%;
    right: 0;
  }
}
@media (max-width: 575.98px) {
  .hero__image-bg {
    background-image: url("../assets/svg/bg-intro-mobile.svg");
    top: -27%;
  }
}
.hero__mockups {
  position: absolute;
  z-index: 0;
  top: -30%;
  right: -20%;
}
@media (max-width: 1023.98px) {
  .hero__mockups {
    right: -40%;
  }
}
@media (max-width: 879.98px) {
  .hero__mockups {
    right: -50%;
  }
}
@media (max-width: 767.98px) {
  .hero__mockups {
    width: 434px;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media (max-width: 379.98px) {
  .hero__mockups {
    width: 370px;
  }
}
.hero__container {
  position: relative;
  z-index: 0;
  min-height: calc(100vh - 73px);
  min-height: calc(100dvh - 73px);
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 767.98px) {
  .hero__container {
    grid-template-columns: 1fr;
    padding-bottom: 1.5rem;
  }
}
@media (max-width: 767.98px) {
  .hero .hero__content {
    gap: 0.75rem;
    align-items: center;
    text-align: center;
    justify-content: end;
  }
}

.about {
  scroll-margin-top: 73px;
  padding-block: 6rem;
  background-color: hsl(220, 16%, 96%);
}
@media (max-width: 767.98px) {
  .about__content, .about .card__content {
    align-items: center;
    text-align: center;
  }
}

.articles {
  padding-block: 6rem;
}
.articles__grid {
  margin-top: 3rem;
}

.footer {
  background-color: hsl(233, 26%, 24%);
  padding-block: 2.25rem;
}
@media (max-width: 767.98px) {
  .footer {
    padding-top: 3rem;
  }
}
.footer__container {
  padding-bottom: 2.25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: start;
}
@media (max-width: 767.98px) {
  .footer__container {
    flex-direction: column;
    gap: 1.5rem;
  }
}
.footer__social {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 2.25rem;
}
@media (max-width: 767.98px) {
  .footer__social {
    align-items: center;
  }
}
@media (max-width: 767.98px) {
  .footer__social .footer__logo img {
    width: auto;
    height: 28px;
  }
}
.footer__social-list {
  display: flex;
  justify-content: start;
  gap: 1rem;
}
@media (max-width: 767.98px) {
  .footer__social-list {
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
  }
}
.footer__social-list .footer__social-item a {
  display: block;
  border-radius: 50%;
}
.footer__social-list .footer__social-item a img {
  transition: filter 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__social-list .footer__social-item a:hover, .footer__social-list .footer__social-item a:focus-visible {
  filter: brightness(0) saturate(100%) invert(59%) sepia(99%) saturate(352%) hue-rotate(83deg) brightness(93%) contrast(92%);
}
.footer__nav-list {
  gap: 3rem;
}
@media (max-width: 767.98px) {
  .footer__nav-list {
    gap: 1.5rem;
  }
}
@media (max-width: 575.98px) {
  .footer__nav-list {
    flex-direction: column;
    gap: 0;
  }
}
.footer__nav-list ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
@media (max-width: 767.98px) {
  .footer__nav-list ul {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5rem;
  }
}
@media (max-width: 575.98px) {
  .footer__nav-list ul {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
}
.footer__nav-list ul .footer__ul-item, .footer__nav-list ul .footer__ul-link {
  padding-block: 1rem;
}
@media (max-width: 767.98px) {
  .footer__nav-list ul .footer__ul-item, .footer__nav-list ul .footer__ul-link {
    padding-block: 0.75rem;
  }
}
.footer__nav-list ul .footer__ul-item .footer__ul-link, .footer__nav-list ul .footer__ul-link .footer__ul-link {
  transition: color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__nav-list ul .footer__ul-item .footer__ul-link:hover, .footer__nav-list ul .footer__ul-item .footer__ul-link:focus-visible, .footer__nav-list ul .footer__ul-link .footer__ul-link:hover, .footer__nav-list ul .footer__ul-link .footer__ul-link:focus-visible {
  color: hsl(136, 64%, 51%);
}
.footer__copy {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  gap: 2.25rem;
}
@media (max-width: 767.98px) {
  .footer__copy {
    align-items: center;
  }
}
.footer__signature {
  border-top: 1px solid #5c6b82;
  padding-top: 2.25rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.375rem;
  flex-wrap: wrap;
}
.footer__signature a {
  display: flex;
  gap: 2px;
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__signature a:hover {
  transform: translateY(-2px);
}
